text-unidecode==1.3
botocore==1.17.2
boto3==1.14.2
python-dateutil==2.8.1
boto==2.49.0
importlib_metadata==1.6.1
behave==1.2.6
faker==4.1.0
idna==2.9
ijson==3.0.4
s3transfer==0.3.3
werkzeug==1.0.1
docutils==0.15.2
jmespath==0.10.0
parse==1.15.0
